<!-- <form>
  <label>Name: </label>
  <input type="text" ng-model='name'/>
  <button (click)="addKeg(name)">Done!</button>
</form> -->

<div *ngFor="let currentKeg of kegs">
  <h2 (click)="showInfo(currentKeg)">{{currentKeg.name}}</h2>
  <div *ngIf="currentKeg === selectedKeg">
    <h3>{{currentKeg.brand}}</h3>
    <h3>${{currentKeg.price}}</h3>
    <h3>{{currentKeg.alcoholContent}}%</h3>
  </div>
</div>

<form>
  <label>Enter Name: </label>
  <input type="text" [(ngModel)]="selectedKeg.name" name="name" placeholder="Now On Tap!" required>{{newBeer}}<br><br>
  <label>Enter Brand: </label>
  <input type="text" [(ngModel)]="selectedKeg.brand" name="brand" placeholder="brand!" required>{{newBeer}}<br><br>
  <label>Enter Price: </label>
  <input type="number" [(ngModel)]="selectedKeg.price" name="price" placeholder="price per keg!" required>{{newBeer}}<br><br>
  <label>Enter ABV: </label>
  <input type="number" [(ngModel)]="selectedKeg.alcoholContent" name="alcoholContent" placeholder="AVB!" required>{{newBeer}}<br><br>
  <button (click)="addKeg(selectedKeg.name, selectedKeg.brand, selectedKeg.price, selectedKeg.alcoholContent)">Add/Edit Keg</button>
  <button (click)="clearBeer()">Clear Selection</button>
</form>